@charset "UTF-8";

/* 404========================================================== */
.error {

}

.error img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* 404========================================================== */
